#page
{
width:1200px;
height:900px;
background-color:blue;
margin:auto;
}
#banniere
{
width:1200px;
height:200px;
background-color:fuschia;
margin:auto;
 
}
#sujet{
font-style:italic;
font-weight:bold;
text-align:center;
}
#milieu
{
width:1200px;
height:800px;
background-color:purple;
margin:auto;
}
#milieu_gauche
{
width:210px;
height:900px;
background-color:white;
float:left;
}
#image{
width : 210px;
height :100px;
}
#milieu_centre
{
width:680px;
height:800px;
background-color:rgb(230,0,230);
float:left;
}
#milieu_centre1
{
width:680px;
height:50px;
background-color:rgb(191,0,191);
padding-top:0px;
}
#carte
{
width:680px;
height:750px;
background-color:white;
  
}
 #milieu_droit
{
width:310px;
height:800px;
background-color:purple;
 float:left;
}

#footer
{
width:1200px;
height:50px;
background-color:rgb(81,0,81);
margin:auto;
//propriete unitile
color:white;
}
#texte
{
text-align:right;

}
a {
text-decoration:none;
font-size:20px;
}